body {
 color: #000;
 background-color: #FFF;
 margin: 0;
 padding: 8px;
}
a, form, table {
 margin: 0;
 padding: 0;
}
table {
 margin: 0;
 padding: 0;
 margin-bottom: 8px;
}
h1, h2, h3, h4, h5, h6 {
 font-family: Helvetica, sans-serif;
 margin: 0;
 padding: 0;
}
hr {
 margin-top: 8px;
 margin-bottom: 8px;
}
img {
 vertical-align: middle;
}
img.topfloatright {
 border: solid 2px black;
 margin: 1em 0 1em 1em;
 float: right;
}
img.floatright {
 border: solid 2px black;
 margin: 0 0 1em 1em;
 float: right;
}
img.floatleft {
 border: solid 2px black;
 margin: 0 1em 1em 0;
 float: left;
}
p.clear {
 clear: both;
}
form dt {
 padding: 1%;
 margin: 0;
 clear: both;
 float: left;
 width: 25%;
 text-align: right;
}
form dd {
 padding: 1%;
 margin: 0;
 float: left;
 width: 70%;
}
input.wide {
 font-family: monospace;
 width: 90%;
 height: 1.3em;
}
textarea.wide {
 font-family: monospace;
 width: 90%;
}
pre.userinput {
 font-family: monospace;
 border: solid 1px black;
 background-color: #EEE;
 padding: 1%;
 margin: 0;
}
