DirectoryIndex index.html
Redirect 302 /index.html http://localhost/cgi-bin/view
Redirect 301 /Zapzilla.html http://localhost/cgi-bin/view/Main/Zapzilla
Redirect 301 /Zapzilla.html http://localhost/cgi-bin/view/Main/Zapzilla
Redirect 301 /download.php http://localhost/cgi-bin/view/Main/Download
Redirect 301 /index.php http://localhost/cgi-bin/view
Redirect 301 /links.php http://localhost/cgi-bin/view/Main/Links
Redirect 301 /news.php http://localhost/cgi-bin/view/Main/News
Redirect 301 /resources.php http://localhost/cgi-bin/view/Main/Resources
Redirect 301 /screenshots.php http://localhost/cgi-bin/view/Main/Screenshots
Redirect 301 /screenshots/new/new.html http://localhost/cgi-bin/view/Main/HistoricScreenshots
Redirect 301 /screenshots/old/old.html http://localhost/cgi-bin/view/Main/PrehistoricScreenshots
ErrorDocument 404 /cgi-bin/oops?template=oopsmissing
