DirectoryIndex index.html
Redirect 302 /index.html http://zapping.sourceforge.net/Zapping/index.html
Redirect 301 /Zapzilla.html http://zapping.sourceforge.net/Zapping/Zapzilla.html
Redirect 301 /download.php http://zapping.sourceforge.net/Zapping/Download.html
Redirect 301 /index.php http://zapping.sourceforge.net/Zapping/index.html
Redirect 301 /links.php http://zapping.sourceforge.net/Zapping/index.html
Redirect 301 /news.php http://zapping.sourceforge.net/Zapping/News.html
Redirect 301 /resources.php http://zapping.sourceforge.net/Zapping/index.html
Redirect 301 /screenshots.php http://zapping.sourceforge.net/Zapping/Screenshots.html
Redirect 301 /screenshots/new/new.html http://zapping.sourceforge.net/Zapping/HistoricScreenshots.html
Redirect 301 /screenshots/old/old.html http://zapping.sourceforge.net/Zapping/PrehistoricScreenshots.html
Redirect 301 /cgi-bin/view/Main/WebHome http://zapping.sourceforge.net/Zapping/index.html
Redirect 301 /cgi-bin/view/ZVBI/WebHome http://zapping.sourceforge.net/ZVBI/index.html
ErrorDocument 404 http://zapping.sourceforge.net/Zapping/index.html
