[Desktop Entry]
Version=0.9
Encoding=UTF-8
Name=Zapping
Type=Application
Comment=TV viewer
Comment[de]=TV Betrachter
Comment[es]=Pantalla de TV
Comment[fr]=Visualiseur de TV
Comment[it]=Visualizzatore TV
Comment[nl]=TV tuner
Comment[pl]=Program TV
Comment[sv]=TV-visare
Exec=zapping
Icon=zapping/gnome-television.png
