[Desktop Entry]
Version=0.9
Encoding=UTF-8
Name=Zapping TV Viewer
Name[de]=Zapping Fernseher
Name[es]=Zapping Pantalla de TV
Name[fr]=Zapping Visualiseur de TV
Name[it]=Zapping Visualizzatore TV
Name[nl]=Zapping TV Tuner
Name[pl]=Zapping Program TV
Name[sv]=Zapping TV-visare
Comment=Lets you watch TV in a window
Comment[de]=Zum Fernsehen in einem Fenster
Type=Application
Exec=zapping
Icon=zapping/gnome-television.png
Terminal=false
StartupNotify=true
Categories=GNOME;Application;Multimedia;AudioVideo;Video;TV;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Zapping
X-GNOME-Bugzilla-Version=0.10pre
X-GNOME-Bugzilla-Component=general
