%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Topic <nop>%TOPIC% does not exist%TMPL:END%
%TMPL:DEF{"message"}%
You cannot attach a file to a non-existing topic. Please
create the topic first before you attach files to it.
 %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%][View]] %SEP%
[[%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?t=%SERVERTIME{"$year$mo$day$min$sec"}%][Create]] %SEP%
[[%WEB%.%HOMETOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"oops"}%
