%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(note)%TMPL:END%
%TMPL:DEF{"webaction"}% *Note* %TMPL:END%
%TMPL:DEF{"heading"}%Thank you for registering%TMPL:END%
%TMPL:DEF{"message"}%
   * You can review your changes in your personal TWiki topic %TOPIC% <br />
     (__Suggestion:__ How about uploading your picture to your topic?)
   * You are also listed in the %MAINWEB%.%WIKIUSERSTOPIC% topic
   * A confirmation e-mail has been sent to %PARAM1%
%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
