%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Unusable site character set%TMPL:END%
%TMPL:DEF{"message"}%
The character encoding (character set) '%CHARSET%' configured in the =TWiki.cfg= file is not
usable with TWiki.  This is because this character set could cause TWiki
syntax characters such as '[' to be recognized within multi-byte
characters.

Please specify a different character set in the =TWiki.cfg= file by
updating the =$siteLocale= and =$siteCharsetOverride= settings as needed.
%TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"oops"}%
