%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(note)%TMPL:END%
%TMPL:DEF{"webaction"}% *Note* %TMPL:END%
%TMPL:DEF{"heading"}%Password changed successfully!%TMPL:END%
%TMPL:DEF{"message"}%

You need to close your browser to make this change take effect.
%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
