%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Administration error%TMPL:END%
%TMPL:DEF{"msg_missing_action"}%
---++ Error: Missing action command
Possibly caused by improper use of the =manage= script.

Please go back in your browser and try again. %TMPL:END%
%TMPL:DEF{"msg_unrecognized_action"}%
---++ Error: Unrecognized action command
Possibly caused by improper use of the =manage= script.

Please go back in your browser and try again.

Action: %TMPL:END%
%TMPL:DEF{"message"}%
%PARAM1%
%PARAM2% %TMPL:END%
%TMPL:DEF{"topicaction"}%
 [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
