%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops, topic exists)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%The "%TOPIC%" topic already exists%TMPL:END%
%TMPL:DEF{"message"}%
  Cannot create %TOPIC% because it already exists.

  Please go _back_ in browser and try a new name %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"oops"}%
