%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(revision)%TMPL:END%
%TMPL:DEF{"webaction"}% *Select revision* %TMPL:END%
%TMPL:DEF{"heading"}%View Previous Topic Revision%TMPL:END%
%TMPL:DEF{"message"}%
<form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
   * Revision: <input type="text" name="rev" size="6" value="%PARAM1%" />
     <input type="submit" value="View revision" /> ( 1.1 ... %PARAM1% )
</form>

---+ Compare Revisions

<form name="main" action="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<table>
<tr><td>
   * Older revision: 
</td><td>
<input type="text" name="rev2" size="6" value="1.1" />
</td></tr><tr><td>
   * Newer revision: 
</td><td>
<input type="text" name="rev1" size="6" value="%PARAM1%" />
<input type="submit" value="View difference" />
</td></tr>
</table>
</form> %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"oops"}%
