%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Create New Web%TMPL:END%
%TMPL:DEF{"msg_web_missing"}%
---++ Error: Name of new web is missing
Please go back in your browser and try again. %TMPL:END%
%TMPL:DEF{"msg_web_name"}%
---++ Error: Invalid name of new web 
Enter a short name of up to 10 characters. The name must start with one 
or more upper case letters, followed by optional lower case letters or 
numbers; it cannot be a %TWIKIWEB%.WikiWord. If you want to create a
template web (a web just used as a base to create new webs) choose a
name that starts with an underscore and has only alphanumeric characters.

Please go back in your browser and try again. %TMPL:END%
%TMPL:DEF{"msg_web_exist"}%
---++ Error: Cannot create this web because it already exists
Please go back in your browser and try again.

Web: %TMPL:END%
%TMPL:DEF{"msg_base_web"}%
---++ Error: Name of base web is missing or does not exist
Please go back in your browser and try again.
Base web: %TMPL:END%
%TMPL:DEF{"msg_web_color"}%
---++ Error: Web color is missing or has an invalid format
A color starts with the number sign, followed by 6 hexadecimal
numbers, e.g. yellow is =#FFFF00=. 

Pick one of the %TWIKIWEB%.StandardColors.

Please go back in your browser and try again. %TMPL:END%
%TMPL:DEF{"msg_web_create"}%
---++ Error: Could not create the new web

Error message: %TMPL:END%
%TMPL:DEF{"msg_web_copy_topics"}%
---++ Error: Could not copy topics to the new web

The new web has been created, however not all topics could
be copied from the base web.

Error message: %TMPL:END%
%TMPL:DEF{"msg_patch_webpreferences"}%
---++ Error: Could not update the <nop>WebPreferences

The new web has been created and all topics have been copied.
However, there was an error while trying to update the WebPreferences.

Error message: %TMPL:END%
%TMPL:DEF{"msg_create_web_ok"}%
---++ Note: The new web has been created and populated with topics from the base web

Would you like to go to:
	* %HOMETOPIC% to start working on the new web
	* %WEBPREFSTOPIC% to customize the web specific preferences
	* [[%MAINWEB%.%HOMETOPIC%][%WIKITOOLNAME%]] home
%TMPL:END%
%TMPL:DEF{"message"}%
%PARAM1%
%PARAM2% %TMPL:END%
%TMPL:DEF{"topicaction"}%
 [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
