%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(note)%TMPL:END%
%TMPL:DEF{"webaction"}% *Note* %TMPL:END%
%TMPL:DEF{"heading"}%User Account Deleted%TMPL:END%
%TMPL:DEF{"message"}%
Your UserName has been removed from the Authentication System.

At the moment your UserTopic has not been renamed (with re-linking) as that funtionality has not been finished. Please email the Admin (below) to request this.

<a href="mailto:%WIKIWEBMASTER%?subject=%WIKITOOLNAME%&#32;Delete&#32;User&amp;body=%PARAM1%">%WIKIWEBMASTER%</a> %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"oops"}%
