%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops rename)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Topic is locked by another user%TMPL:END%
%TMPL:DEF{"message"}%

%OLD_LOCK%
%NEW_LOCK%

   * To rename anyway click on *Rename anyway*
   * To cancel go back in your browser or click on *Cancel*

%TMPL:END%
%TMPL:DEF{"topicaction"}%
  [[%SCRIPTURL%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%?breaklock=on&amp;newWeb=%NEW_WEB%&amp;newTopic=%NEW_TOPIC%&amp;attachment=%ATTACHMENT%][Rename anyway]]
  %TMPL:P{"sep"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"oops"}%
