%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%You are not registered%TMPL:END%
%TMPL:DEF{"message"}%
Can't find the username <b>%PARAM1%</b>.

Make sure you spelled the User Name correctly and try again.
Remember, a %TWIKIWEB%.WikiName is case sensitive.

See %MAINWEB%.TWikiUsers for a list of existing users or register as new user in
%TWIKIWEB%.TWikiRegistration. %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"oops"}%
