%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%You are already registered%TMPL:END%
%TMPL:DEF{"message"}%
Can't register twice, the username %PARAM1% is already registered.

Please contact 
<a href="mailto:%WIKIWEBMASTER%?subject=%WIKITOOLNAME%&#32;Registration&#32;Question">%WIKIWEBMASTER%</a>
if you have any questions. %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"oops"}%
