%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Topic is locked by another user%TMPL:END%
%TMPL:DEF{"message"}%
There is a possibility that <b> %PARAM1% </b> is editing this topic. 
Please ask the contributor before making changes to this topic.

   * To look at the text without editing the topic click on the *View raw text* link.
   * To edit anyway click on the *Edit anyway* link.
   * To cancel go back in your browser or click on *Cancel*.

__Note:__ Locking gets reset after %PARAM2% minutes of inactivity, 
the earliest in <b>%PARAM3% minutes</b>. %TMPL:END%
%TMPL:DEF{"topicaction"}%
 [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?raw=on][View raw text]] %TMPL:P{"sep"}% 
 <a href="%EDITURL%&amp;breaklock=on">Edit anyway</a> %TMPL:P{"sep"}% 
 [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"oops"}%
