From: %WIKIWEBMASTER%
To: %EMAILADDRESS%
BCC: %WIKIWEBMASTER%
Subject: %WIKITOOLNAME% - Registration for %WIKINAME%
MIME-Version: 1.0
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

This is an automated email notification of user registration 
in %WIKITOOLNAME%.

Thank you for registering in the %WIKITOOLNAME% collaboration 
platform. Please save this email for future reference.

Read %SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/WelcomeGuest
to get a quick overview of this collaboration platform. To 
learn more, study the TWikiTutorial, which is accessible from 
the same link.

Your personal %WIKITOOLNAME% topic is located at
%SCRIPTURL%/view%SCRIPTSUFFIX%/%MAINWEB%/%WIKINAME% .
You can customize it as you like:

   * Some people turn it into a personal portal with favorite
     links, what they work on etc.
   * Some add schedule information and vacation notice.
   * How about attaching your photo?

Submitted content:

%FORMDATA%

Note:
In case you got this email by mistake: Somebody (%FIRSTLASTNAME%)
registered  at the %WIKITOOLNAME% site using your mail address 
%EMAILADDRESS% . Contact %WIKIWEBMASTER% if needed.
