%TMPL:DEF{"sep"}% | %TMPL:END%
%TMPL:DEF{"htmldoctype"}%
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%"> %TMPL:END%
%TMPL:DEF{"standardheader"}%
<table class="header" width="100%" border="0"><tr>
<td width="100%">%WIKIWEBLIST%</td>
<td><a href="%WIKILOGOURL%"><img src="%WIKILOGOIMG%" border="0" alt="%WIKILOGOALT%" /></a></td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr><td colspan="2"><center>%TMPL:P{"webaction"}%</center></td></tr>
</table> %TMPL:END%
%TMPL:DEF{"simpleheader"}%
<table class="header" width="100%" border="0"><tr>
<td width="100%">%WIKIWEBLIST%</td>
<td><a href="%WIKILOGOURL%"><img src="%WIKILOGOIMG%" border="0" alt="%WIKILOGOALT%" /></a></td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr><td colspan="2"><center>%TMPL:P{"webaction"}%</center></td></tr>
</table> %TMPL:END%
%TMPL:DEF{"standardfooter"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr bgcolor="%WEBBGCOLOR%">
  <td valign="top">
   <b>%TOPIC%</b> . { %TMPL:P{"topicaction"}% }
  </td>
 </tr>
</table> %TMPL:END%
%TMPL:DEF{"oops"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%WIKITOOLNAME% &gt; %WEB% &gt; %TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <link rel="stylesheet" href="/style/twiki.css" type="text/css" />
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
</head>
<body bgcolor="#ffffff">
#PageTop
%TMPL:P{"simpleheader"}%
---+ %TMPL:P{"heading"}%
%TMPL:P{"message"}%
<p />
%TMPL:P{"standardfooter"}%
#PageBottom
</body>
</html> %TMPL:END%
