%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%WIKITOOLNAME% &gt; %WEB% &gt; %TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <link rel="stylesheet" href="/style/twiki.css" type="text/css" />
 <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
</head>
<body bgcolor="#ffffff">
#PageTop
<form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%"> %BROADCASTMESSAGE%
%TMPL:DEF{"titleaction"}% %REVTITLE% %TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%
%TMPL:P{"standardheader"}%
</form>
%TEXT%
%META{"form"}%
%META{"attachments"}%
%TMPL:DEF{"topicaction"}%
  <img src="%PUBURL%/%TWIKIWEB%/TWikiDocGraphics/edittopic.gif" border="0" alt="Edit" /> %EDITTOPIC%
  %TMPL:P{"sep"}% <img src="%PUBURL%/%TWIKIWEB%/TWikiDocGraphics/topicdiffs.gif" border="0" alt="Changes" /> <a href="%SCRIPTURLPATH%/changes%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Changes</a>
  %TMPL:P{"sep"}% <img src="%PUBURL%/%TWIKIWEB%/TWikiDocGraphics/attachfile.gif" border="0" alt="Attach" /> <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Attach</a>
  %TMPL:P{"sep"}% <img src="%PUBURL%/%TWIKIWEB%/TWikiDocGraphics/topicbacklinks.gif" border="0" alt="Ref-By" /> <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Ref-By</a>
  %TMPL:P{"sep"}% <img src="%PUBURL%/%TWIKIWEB%/TWikiDocGraphics/printtopic.png" border="0" alt="Printable" /> <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print%REVARG%">Printable</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&amp;param1=%MAXREV%&amp;param2=%CURRREV%">More</a> %TMPL:END%
%TMPL:P{"standardfooter"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td valign="top">
   Revision %REVINFO%
  </td>
 </tr>
</table>
#PageBottom
</body>
</html>
