%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%WIKITOOLNAME% &gt; %WEB% &gt; %TOPIC%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <link rel="stylesheet" href="/style/twiki.css" type="text/css" />
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
</head>
<body bgcolor="#ffffff">
#PageTop
<table class="header" width="100%" border="0">
<tr>
<td width="100%">%WIKITOOLNAME% &gt; <nop>%WEB% &gt; %TOPIC%</td>
<td><img src="%WIKILOGOIMG%" border="0" alt="%WIKILOGOALT%" /></td>
</tr>
<tr><td colspan="2"><hr/ ></td></tr>
</table>
<p />
%TEXT%
%META{"form"}%
%META{"attachments"}%
<p />
<table width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr bgcolor="%WEBBGCOLOR%">
    <td valign="top">
      =-----= Revision %REVINFO%
    </td>
  </tr>
</table>
%WEBCOPYRIGHT%
#PageBottom
</body>
</html>
