%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %WIKITOOLNAME% . %WEB% . %TOPIC%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
</head>
<body bgcolor="#ffffff">
#PageTop
%TEXT%
%META{"form"}%
%META{"attachments"}%
#PageBottom
</body>
</html>
