  <sect1 id="zapping-settings"> 
    <title>Settings</title> 

    <para>To configure Zapping choose <menuchoice> 
	<guimenu>Edit</guimenu> 
	<guimenuitem>Preferences</guimenuitem> 
      </menuchoice>. The <guilabel>Preferences</guilabel> dialog contains the following sections.</para>

    <sect2 id="zapping-settings-video-device">
      <title>Video Device</title>

      <para>In this section you can select the device file name of
the kernel device to be used in <link linkend="zapping-video-modes">capture mode</link>. On Linux common names are:</para>
      <simplelist>
        <member><filename>/dev/video</filename></member>
        <member><filename>/dev/video0</filename></member>
        <member><filename>/dev/video1</filename></member>
        <member><filename>/dev/video2</filename></member>
        <member><filename>/dev/v4l/video</filename></member>
        <member><filename>/dev/v4l/video0</filename></member>
      </simplelist>
      <para>On FreeBSD:</para>
      <simplelist>
        <member><filename>/dev/bktr</filename></member>
        <member><filename>/dev/bktr0</filename></member>
        <member><filename>/dev/bktr1</filename></member>
        <member><filename>/dev/bktr2</filename></member>
      </simplelist>
      <para>Changes will take place after you quit and restart Zapping.</para>
      <para>There is no dialog to select an XVideo device, Zapping uses the first device it finds. This will be corrected in a future version.</para>
    </sect2>

    <sect2 id="zapping-settings-audio-device">
      <title>Audio Device</title>

      <para>Here you can select an audio device to <link linkend="zapping-record">record sound</link>. Usually a kernel device is the best choice. If your TV card has audio sampling hardware and the driver supports this, you can also select the TV card as recording device. This will free the soundcard to record from other sources.</para>
      <para>Common kernel device names are <filename>/dev/dsp</filename>, <filename>/dev/dsp0</filename>, <filename>/dev/dsp1</filename> and so on. Click on the down arrow of the device file entry to see a list of devices found by Zapping.</para>
      <para>If the audio output of your TV card connects to an audio input of your soundcard, or when your TV card has no audio capabilities, you will want to select <guilabel>Control volume with soundcard mixer</guilabel>. This has two advantages:</para>
      <itemizedlist>
        <listitem>
          <para>Zapping will properly set the volume control on the soundcard mixer <emphasis>and</emphasis> the TV card, you will not have to start a mixer application.</para>
        </listitem>
        <listitem>
          <para>When you change the volume or mute audio, recording is not affected.</para>
        </listitem>
      </itemizedlist>
      <para>When you select a kernel device as audio recording device, you should also enable this option to determine the correct audio input line.</para>
      <para>Common mixer device names are <filename>/dev/mixer</filename>, <filename>/dev/mixer0</filename>, <filename>/dev/mixer1</filename> and so on. Click on the down arrow of the device file entry to see a list of devices found by Zapping.</para>
    </sect2>

    <sect2 id="zapping-settings-main">
      <title>Main Window</title>

      <para>You can set the following preferences:</para>
      <variablelist>
        <varlistentry>
          <term><guilabel>Save window geometry</guilabel></term>
          <listitem>
            <para>Zapping does not support session management yet. When this option is selected, it will save the window geometry on exit and restore on startup in a non-standard way.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Show tooltips</guilabel></term>
          <listitem>
            <para>Whether to show tooltips.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Disable screensaver</guilabel></term>
          <listitem>
            <para>In video mode (not it Teletext mode) disable the screensaver from blanking the screen.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Save control values per channel</guilabel></term>
          <listitem>
            <para>When this option is selected Zapping saves and restores brightness, contrast, audio volume and other settings when you switch channels.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Enter channels by</guilabel></term>
          <listitem>
            <para>When you enter channel numbers on the numeric keypad or with your remote control, Zapping can interpret the numbers differently. In the United States you will want to choose by RF channel number (1 to 125). You can also choose by the number of the channel in the channel list, the first channel has number 0.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Title bar contents</guilabel></term>
          <listitem>
            <para>Here you can customize the appearance of the main window title bar. You can enter a string which is displayed literally, except for the following jokers:</para>
            <variablelist>
              <varlistentry>
                <term><userinput>$(alias)</userinput></term>
                <listitem>
                  <para>Name of the current channel, e.g. BBC1</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><userinput>$(index)</userinput></term>
                <listitem>
                  <para>Number in the channel list</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><userinput>$(id)</userinput></term>
                <listitem>
                  <para>RF channel name, e.g. S02</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><userinput>$(freq)</userinput></term>
                <listitem>
                  <para>Tuning frequency</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><userinput>$(standard)</userinput></term>
                <listitem>
                  <para>Video standard (PAL, NTSC, SECAM, &hellip;)</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><userinput>$(input)</userinput></term>
                <listitem>
                  <para>Current video input on the TV card</para>
                </listitem>
              </varlistentry>
            </variablelist>
          </listitem>
        </varlistentry>
      </variablelist>
    </sect2>

    <sect2 id="zapping-settings-video-options">
      <title>Video Options</title>

      <para>You can set the following preferences:</para>
      <variablelist>
        <varlistentry>
          <term><guilabel>Fullscreen video resolution</guilabel></term>
          <listitem>
            <para>When switching to <link
            linkend="zapping-video-modes">fullscreen or background mode</link>, Zapping may not be able to enlarge the video to cover the whole screen, but it can change the display resolution to approximate the size of the video. Here you can select a particular resolution, automatic selection, or no change of display resolution.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Capture size under XVideo</guilabel></term>
          <listitem>
            <para>With the XVideo extension the image scaling hardware of your graphics card can be used to display captured video at almost any size. Here you can select the size of the <emphasis>captured</emphasis> video when using XVideo:</para>
            <variablelist>
              <varlistentry>
                <term><guilabel>320 &#151; 240</guilabel></term>
                <listitem>
                  <para>Fixed size 320 &#151; 240 pixels</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><guilabel>Interlaced (window size)</guilabel></term>
                <listitem>
                  <para>The largest size supported by the video capture hardware, or the window size if smaller</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><guilabel>Biggest noninterlaced</guilabel></term>
                <listitem>
                  <para>Interlaced video looks strange when scaled. This mode is similar to <guilabel>Interlaced</guilabel>, except noninterlaced video will be captured.</para>
                </listitem>
              </varlistentry>
            </variablelist>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Favorite picture sizes</guilabel></term>
          <listitem>
            <para>Here you can customize the <guimenu>Appearance</guimenu> submenu of the video window context menu. To add new line, click on the <guibutton>Add</guibutton> button. To remove a line, click on the line and then the <guibutton>Remove</guibutton> button. To change values, click on a line and then the desired column.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Resize using fixed increments</guilabel></term>
          <listitem>
            <para>When you select this option, the video window can only assume sizes which are a multiple of 32 pixels.</para>
          </listitem>
        </varlistentry>
      </variablelist>
    </sect2>

    <sect2 id="zapping-settings-keyboard">
      <title>Keyboard</title>

      <para>In this section you can customize accelerators. Note that built-in accelerators such as those associated with menus or channel number entering on the numeric keypad take precedence over user configured ones.</para>

      <para>To add new accelerator, click on the <guibutton>Add</guibutton> button. To remove an accelerator click on the line and then the <guibutton>Remove</guibutton> button. To change a command, click on the line and type a new command in the command entry. Click on the down arrow to see a list of commands. To change a keyboard shortcut, click on the line and column.</para>
    </sect2>

    <sect2 id="zapping-settings-audio-options">
      <title>Audio Options</title>

      <para>Here you can select whether Zapping should automatically mute audio when the application starts, or before it quits.</para>
    </sect2>

    <sect2 id="zapping-settings-osd">
      <title>OSD Options</title>

      <para>Some operations such as entering a channel number or changing the audio volume by keyboard can display a status message. Here you can customize this On Screen Display.</para>
      <variablelist>
        <varlistentry>
          <term><guilabel>Display mode</guilabel></term>
          <listitem>
            <para>Whether to display messages superimposed onto the video (OSD), in a status bar of the video window, in a separate console window, or not at all.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Remove after</guilabel></term>
          <listitem>
            <para>How long the message remains visible in OSD mode.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Font</guilabel></term>
          <listitem>
            <para>Font to be used in OSD mode.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Foreground color</guilabel></term>
          <listitem>
            <para>Foreground (text) color to be used in OSD mode.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Background color</guilabel></term>
          <listitem>
            <para>Background color to be used in OSD mode.</para>
          </listitem>
        </varlistentry>
      </variablelist>
    </sect2>

    <sect2 id="zapping-settings-vbi">
      <title>VBI Options</title>

      <variablelist>
        <varlistentry>
          <term><guilabel>Enable VBI decoding</guilabel></term>
          <listitem>
            <para>When this option is selected, Zapping will capture and decode VBI data transmitted by the current TV station. This enables Teletext browsing, Teletext subtitles, Closed Caption, and Zapping can automatically name the station (if the information is transmitted, respectively).</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Device file</guilabel></term>
          <listitem>
            <para>A dedicated kernel device is necessary to capture VBI data. If this is supported by your TV card and its driver, you can select the VBI device here. Common names are:</para>
            <simplelist>
              <member><filename>/dev/vbi</filename></member>
              <member><filename>/dev/vbi0</filename></member>
              <member><filename>/dev/vbi1</filename></member>
              <member><filename>/dev/vbi2</filename></member>
              <member><filename>/dev/v4l/vbi</filename></member>
              <member><filename>/dev/v4l/vbi0</filename></member>
            </simplelist>
            <para>The device should correspond to the selected kernel video device. Zapping will try to find it automatically, but this may fail. Changes will take place after you quit and restart Zapping.</para>
            <para>XVideo does not support VBI data capturing. You will be able to use VBI services only if your device also has a kernel driver.</para>
          </listitem>
        </varlistentry>
      </variablelist>
    </sect2>

    <sect2 id="zapping-settings-teletext">
      <title>Teletext plugin</title>
      <variablelist>
        <varlistentry>
          <term><guilabel>Teletext implementation</guilabel></term>
          <listitem>
            <para>The Teletext standard knows different implementation levels. The built-in Teletext browser supports them all, but you can choose to see pages as displayed by simpler decoders. Note most stations still only transmit at the basic levels 1.0 or 1.5.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Default encoding</guilabel></term>
          <listitem>
            <para>Some stations fail to transmit a complete character set code, so the Teletext viewer may not display the correct font or national characters. You can select your geographical region as an additional hint.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Page memory size</guilabel></term>
          <listitem>
            <para>With this option you can limit the size of the page cache in memory. A complete set of pages of one station will require around 1000 KiB. When the limit is reached, Zapzilla will remove the last recently used pages and you must wait for retransmission to see them. Frequently visited pages like page 100 or subpages which take longer to reload get priority.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Number of channels in page memory</guilabel></term>
          <listitem>
            <para>The page memory can contain pages of more than one channel. When the limit is reached, Zapzilla will remove pages of the last recently used channel first.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Brightness and contrast</guilabel></term>
          <listitem>
            <para>These values change the brightness and contrast of the text in Teletext windows or the main window.</para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Scaling</guilabel></term>
          <listitem>
            <para>You can freely resize Teletext windows. There are different ways to scale the image, some give better visual results, others are faster.</para>
          </listitem>
        </varlistentry>
      </variablelist>
    </sect2>

    <sect2 id="zapping-settings-recording">
      <title>Recording plugin</title>

      <para>In this section you can create different named recording configurations.</para>
    </sect2>

    <sect2 id="zapping-settings-screenshot">
      <title>Screenshot plugin</title>

      <para>In this section you can customize the screenshot plugin.</para>
      <variablelist>
        <varlistentry>
          <term><guilabel>Completion command</guilabel></term>
          <listitem>
            <para>A shell command to execute after the image has been saved. The following environment variables will be set:</para>
            <variablelist>
              <varlistentry>
                <term><varname>$SCREENSHOT_PATH</varname></term>
                <listitem>
                  <para>The fully qualified filename of the saved image, e.&nbsp;g. <filename>/home/my/shots/image2.jpg</filename></para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><varname>$CHANNEL_ALIAS</varname></term>
                <listitem>
                  <para>Name of the current channel, &eg; BBC1</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><varname>$CHANNEL_ID</varname></term>
                <listitem>
                  <para>RF channel name, &eg; S02</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><varname>$CURRENT_STANDARD</varname></term>
                <listitem>
                  <para>Video standard (PAL, NTSC, SECAM, &hellip;)</para>
                </listitem>
              </varlistentry>
              <varlistentry>
                <term><varname>$CURRENT_INPUT</varname></term>
                <listitem>
                  <para>Current video input on the TV card</para>
                </listitem>
              </varlistentry>
            </variablelist>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Skip x pictures before grabbing</guilabel></term>
          <listitem>
            <para></para>
          </listitem>
        </varlistentry>
        <varlistentry>
          <term><guilabel>Grab on clicking ok</guilabel></term>
          <listitem>
            <para>By default a screenshot is taken when you open the screenshot dialog. When this option is selected, it will be taken when you click the <guibutton>OK</guibutton> button of the dialog.</para>
          </listitem>
        </varlistentry>	 
        <varlistentry>
          <term><guilabel>Add toolbar button</guilabel></term>
          <listitem>
            <para>Add a button to the main window toolbar which opens the screenshot dialog.</para>
          </listitem>
        </varlistentry>
      </variablelist>
    </sect2>

  </sect1>

  <!--
Local Variables:
mode: sgml
coding: utf-8
sgml-parent-document: "zapping.xml"
indent-tabs-mode: nil
End:
  -->
